$primary: #35495e;
$secondary: #03a1fc;
$lighten: #aaa;
$darken: #393939;
$darken2: #1b1b1b;
$white: #fff;
$black: #000;

$dialogRadius: 12px;
$btnRadius: 4px;

$spacingS: 0.25rem;
$spacingSM: 0.5rem;
$spacingM: 0.75rem;
$spacingML: 1rem;
$spacingL: 1.25rem;
$spacingXL: 1.5rem;
$spacingXXL: 1.75rem;

$fzS: 0.5rem;
$fzSM: 0.75rem;
$fzM: 1rem;
$fzML: 1.25rem;
$fzL: 1.5rem;
$fzXL: 1.75rem;
$fzXXL: 2rem;

$xl-breakpoint: 1024px;
$lg-breakpoint: 768px;
$md-breakpoint: 570px;
$sm-breakpoint: 375px;
